nav {
	height: 120px;
	background-color: #4056a1;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Bungee', cursive;
	padding: 0 3rem;
}

/* nav > span {
	font-family: 'Bungee', cursive;
	margin: 1.5em;
} */

.nav_logo {
	font-family: 'Bungee', cursive;
	font-size: 2rem;
}

.nav_write {
	font-size: 1.2rem;
	margin-right: 0.3rem;
}

.nav_new-tweet {
	font-family: 'Bungee Hairline', cursive;
	font-size: 1rem;
}

.nav_write-arrow {
	font-size: 2rem;
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	transform: rotate(90deg);
	color: #bf0000;
}
