.tweet_box {
	border: 3px solid black;
	padding: 1rem;
	margin-bottom: 10rem;
}

.tweet_box:hover {
	box-shadow: 10px 10px 3px 1px rgba(0, 0, 0, 0.5);
	transition: 0.2s ease-in;
	transform: translateY(-2px);
}

#tweets-container header {
	display: flex;
	align-items: center;
}

.tweet_avatar {
	margin: 0 0.5rem 0 0;
}

.tweet_handle {
	margin-left: auto;
	color: darkgrey;
	opacity: 0;
}

.tweet_box:hover .tweet_handle {
	animation-name: textAppear;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes textAppear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#tweets-container footer {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.tweet_publish-date {
	font-size: 0.8rem;
	margin: 0 0 0 1rem;
}

.tweet_icons {
	font-size: 1rem;
	color: #344785;
}

.tweet_icons i {
	margin: 0 0.3rem;
}
